* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #e2c35d, #d88771);
  color: #fff;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
  margin: 3rem 0;
}

header,
form {
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  background-color: #fff;
  font-size: 1.2rem;
  border: none;
  outline: none;
}

form button {
  color: #d88771;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background-color: #d88771;
  color: #fff;
}

.todo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-list {
  list-style: none;
  min-width: 30%;
}

.todo {
  background-color: #fff;
  margin: 0.5rem;
  color: #000;
  font: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo li {
  flex: 1;
}

.completed-btn,
.dlt-btn {
  background-color: #ff6f47;
  color: #fff;
  border: none;
  padding: 1rem;
  font-size: 1rem;
}

.completed-btn {
  background-color: rgb(73, 204, 73);
}

.todo-item {
  padding: 0rem 0.5rem;
}
